<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>26171371408-4uco38t8qrt7pj3ichgfh3ta6j981grh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.26171371408-4uco38t8qrt7pj3ichgfh3ta6j981grh</string>
	<key>API_KEY</key>
	<string>AIzaSyCfjV18oAXaSG7O7_cfjRMys7T-rbSiOGs</string>
	<key>GCM_SENDER_ID</key>
	<string>26171371408</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>daniel.pavlekovic.ferit.hr.Tifosi</string>
	<key>PROJECT_ID</key>
	<string>tifosi-a5cbe</string>
	<key>STORAGE_BUCKET</key>
	<string>tifosi-a5cbe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:26171371408:ios:ea1a88a198a89e73</string>
	<key>DATABASE_URL</key>
	<string>https://tifosi-a5cbe.firebaseio.com</string>
</dict>
</plist>